@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.label {
    color: #FFF;
    font-family: 'Asap', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; 
    letter-spacing: 0.5px;
}